body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  font-family: monospace;
}

.clock, .stopwatch, .countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.clock {
  font-size: 10rem;
  background-color: rgba(206, 49, 49, 0.85);
}

.stopwatch {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 10rem;
  background-color: rgba(49, 206, 49, 0.85);
}
.stopwatchCommand {
  display: flex;
}
.stopwatchCommand button {
  border: none;
  width: 200px;
  height: 100px;
  border-radius: 20px;
  color: white;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 0.3s ease-out;
}
.stopwatchCommand button:hover {
  background-color: rgba(0, 0, 0, 1);
}

.countdown {
  font-size: 10rem;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(49, 49, 206, 0.85); 
}
.countdownCommand {
  display: flex;
}
.countdownCommand input, .countdownCommand button{
  align-items: center;
  width: 200px;
  height: 100px;
  border-radius: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 0.3s ease-out;
  border: none;
}
.countdownCommand button {
  font-size: 3rem;

}
.countdownCommand input {
  font-size: 2rem;
  padding-left: 15px;
}
.countdownCommand button:hover {
  background-color: rgba(0, 0, 0, 1);
}
